services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: quiz-backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - GROQ_API=${GROQ_API}
    networks:
      - quiz-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: quiz-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - quiz-network

networks:
  quiz-network:
    driver: bridge